@use "@material/theme";

@use "@material/top-app-bar/mdc-top-app-bar";
@use '@material/button/mdc-button';
@use "@material/icon-button/mdc-icon-button";
@use "@material/card/mdc-card";
@use "@material/checkbox/mdc-checkbox"; // Import data table styles
@use "@material/layout-grid/mdc-layout-grid";

.mdc-data-table {
  width: 100%;
}

body {
  margin-top: 70px;
}

.mdc-card-content {
  padding: 16px;
  padding-bottom: 40px;
}

.seperator {
  padding: 16px;
}

.mdc-card {
    height: 100%;
}

.mdc-card__actions {
  padding-top: 10px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

#overlay {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: wait;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 20%;
  }
}

body {
    background-color: var(--mdc-theme-secondary, #201116);
    color: var(--mdc-theme-text-primary-on-background, #ffffff)
}

.mdc-card {
    background-color: var(--mdc-theme-secondary, #352228);
    color: var(--mdc-theme-text-primary-on-background, #ffffff)
}

.mdc-button {
    background-color: var(--mdc-theme-text-primary-on-background, #ffffff) !important;
    color: #352228 !important;
}