<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="manifest.json" rel="manifest">
    <link href="dist/bundle.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="loading" id="overlay" onclick="off()">
            <div class="loader">Daten werden geladen...</div>
        </div>



        <header class=" mdc-top-app-bar mdc-top-app-bar--short">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">SRP Aufgaben</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <button @click="settings()"
                        class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
                        aria-label="Clear">settings</button>
                </section>
            </div>
        </header>
        <div class="container">
            <h2 v-if="!loading" class="seperator">Unbearbeitete Aufgaben</h2>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div v-if="!task.done" v-for="task in tasks" class="mdc-layout-grid__cell">
                        <div class="mdc-card">
                            <div class="mdc-card-content">
                                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">{{task.title}}
                                </h2>
                                <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">von
                                    {{task.author}}</h3>
                                <small>Abgabe {{moment().to(task.end_date)}}<br></small>
                                <small>Bis zum {{task.end_date.format("dddd, DD.MM.YYYY u\\m HH:mm")}}</small>
                                <p>{{task.description}}</p>
                            </div>
                            <div class="mdc-card__actions">
                                <button @click="open_external(task.id)"
                                    class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button">
                                    <div class="mdc-button__ripple"></div>
                                    <span class="mdc-button__label">In Iserv öffnen</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 v-if="!loading" class="seperator">Erledigte Aufgaben</h2>
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div v-if="task.done" v-for="task in tasks" class="mdc-layout-grid__cell">
                        <div class="mdc-card">
                            <div class="mdc-card-content">
                                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">{{task.title}}
                                </h2>
                                <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">von
                                    {{task.author}}</h3>
                                <small>Abgabe {{moment().to(task.end_date)}}<br></small>
                                <small>Bis zum {{task.end_date.format("dddd, DD.MM.YYYY u\\m HH:mm")}}</small>
                                <p>{{task.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="dist/bundle.js"></script>
</body>

</html>
